* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

#option_panel {
    display: flex;
    flex-direction: column;
    margin: 16px;
}
#option_panel > * {
    margin-bottom: 8px;
}
#option_panel h4 {
    margin-right: 8px;
}
